.odd {
    background-color: rgba(200, 55, 55, 0.6);
    font-family: Verdana, sans-serif;
}

.size24 {
    font-size: 24px;
}

#n01 {
    color: rgb(0, 0, 255);
    font-size: 36px;
}

#n02 {
    background-color: rgba(50, 200, 100, 0.6);
    font-size: 24px;
    font-weight: 700;
}

/* Add CSS Styling */