.first {
    color: #ffffff;
    background-color: #000000;
}

.second {
    background-color: hsl(60, 100%, 50%);
}

.first,
.second {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}

/* Add CSS Styling */