body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 10px 10px 10px;
}
 
.title {
  background: #e3f4ff;
  font-size: 16px;
  padding: 16px 8px;
}

.content {
  background: #e3f4ff;
  margin-top: 10px;
  padding: 16px 8px;
}

.button-container {
  background: #e3f4ff;
  margin: 10px 0 0;
  paddinG: 16px 8px;
  text-align: center;
}

button {
  background: white;
  display: block;
  border: 1px solid #eee;
  margin: auto;
  padding: 5px 20px;
}